@charset "UTF-8";
* {
  font-family: Arial, Helvetica, sans-serif;
  /*height: 100%;*/
}
body {
  background-image: linear-gradient(to right, #1E19E0, #1C51FC);
}
main {
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(15, 3, 17, 0.575);
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
}
h1 {
  text-align: center;
  text-shadow: 1px 1px 3px #1c0130cb;
color:#8B19E0 ;
}
h2 {
color:#6628F7 ;
}
p {
text-align: justify;
}